/* You can add global styles to this file, and also import other style files */

.character-grid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
}

@media (min-width: 576px) {
  .character-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
